In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
class LinearRegression:
    def __init__(self,lr=0.01,n_iterations=1000):
        self.lr = lr 
        self.n_iterations = n_iterations
        self.weights = None 
        self.bias = None

    def fit(self,X,y):
        n_samples , n_features = X.shape
        self.weights = np.zeros(n_features)
        self.bias = 0

        for _ in range(self.n_iterations):
            y_pred = np.dot(X,self.weights) + self.bias

            dw = (1/n_samples) * np.dot(X.T, (y_pred-y))
            db = (1/n_samples) * np.sum(y_pred-y)

            self.weights = self.weights - self.lr * dw 
            self.bias = self.bias - self.lr * db 
    
    def predict(self,X):
        y_pred =  np.dot(X.T,self.weights) + self.bias
        return y_pred

In [14]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_LR.csv")
df.head()

   Unnamed: 0       district  rooms  size  level  max_levels    price
0           0   Юнусабадский      3  57.0      4           4  52000.0
1           1  Яккасарайский      2  52.0      4           5  56000.0
2           2   Чиланзарский      2  42.0      4           4  37000.0
3           3   Чиланзарский      3  65.0      1           4  49500.0
4           4   Чиланзарский      3  70.0      3           5  55000.0

In [16]:
X = df['size']

In [17]:
X

0       57.0
1       52.0
2       42.0
3       65.0
4       70.0
        ...
7273    38.0
7274    49.0
7275    64.0
7276    18.0
7277    30.0
Name: size, Length: 7278, dtype: float64